.cart-home{
    display: flex;
    flex-direction: column;
}
.cart-item{
    display: flex;
    flex-direction: column;
}
.empty-cart{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}
.empty-cart img{
    /* background-image: url('../../Assets/Hands\ -\ Shopping\ Cart\ Error.png'); */
    /* background-repeat: repeat; */
    /* margin-top: 40%; */
    width: 100%;
    margin-bottom: 40px;
    

}
.inc-but,.dec-but{
    border: none;
    outline: none;
    background-color: inherit;
    cursor: pointer;
}
.c-item-desc{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.cart-qn-but{
    display: flex;
    flex-direction: row;
    align-items: baseline;
}
.cart-but{
    border: none;
    outline: none;
    background-color: #323412;
    color: #ffffff;
    padding: 10px 30px;
    border-radius: 5px;
    cursor: pointer;
}
.cart-foot{
    display: flex;
    flex-direction: column;
}