.product{
    display: flex;
    flex-direction: row-reverse;
    justify-content:space-between;
    margin:5% 0% 0% 0%;
    padding:2%;
    align-items:center;
}
.product:not(:last-child){
    border-bottom: 2px solid black;
}
.details{
    display: flex;
    flex-direction: column;
}
.product img{
    width: 120px;
    height: 120px;
}
.buton,.mod-but{
    width: 60px;
    height: 40px;
    border-radius: 5px;
    outline: none;
    border: none;
    background-color:#323412;
    color: white;
    text-align: center;
    cursor: pointer;
    margin-top: 3%;
}

.mod-but{
    margin: 1%;
}
    
    