.home{
    background-color: #ffffff;
    width: 81vw;
    height: 92vh;
    margin: 4vh 2vh 4vh 2vh;
    justify-content: center;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
}
.body{
    flex-basis: 60vw;
    flex-grow: 1;
    overflow-y: scroll;
    overflow-x: hidden;
}
.body::-webkit-scrollbar{
    background-color:inherit;
}
.header{
    display: flex;
    flex-direction: row;
    margin-top: 2%;
    justify-content: space-around;
    top: 0;
    z-index: 999;
    padding-bottom: 20px;
    background-color: white;
    position: sticky;
}
.header input{
    flex-basis: 20vh;
    flex-shrink: 1;
    border: none;
    border-bottom: 1px solid;
    outline: none;
}
.capsules{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 3% 8% ;

}
.items{
    display: flex;
    flex-direction: column;
    margin: 5% 8% 0% 8%;
    

}

.cart{
    flex-basis: 18vw;
    flex-grow: 1;
}