.home{
    background-color: #ffffff;
    width: 81vw;
    height: 92vh;
    margin: 4vh 2vh 4vh 2vh;
    justify-content: center;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
}
.body{
    flex-basis: 60vw;
    flex-grow: 1;
}
.header{
    display: flex;
    flex-direction: row;
    margin-top: 2%;
    justify-content: space-around;
}
.header input{
    flex-basis: 20vh;
    flex-shrink: 1;
    border: none;
    border-bottom: 1px solid;
    outline: none;
}
.capsules{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 5% 10% 5% 10%;

}
.capsule{
    display: flex;
    flex-direction: column;
    background-color:#F5F6F7;
    justify-content: space-evenly;
    height: 140px;
    width: 80px;
    border-radius: 500px;
    align-items: center;
}
.cap-img{
    width: 60px;
    height: 60px;
}
.capsule:hover,.active{
    box-shadow:  5px -5px 10px #cecece,
             -5px 5px 10px #f2f2f2;
}
.cart{
    flex-basis: 18vw;
    flex-grow: 1;
}