.home{
    background-color: #ffffff;
    width: 81vw;
    height: 92vh;
    margin: 4vh 2vh 4vh 2vh;
    justify-content: center;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
}
.body{
    flex-basis: 60vw;
    flex-grow: 1;
}
.header{
    display: flex;
    flex-direction: row;
    margin-top: 2%;
    justify-content: space-around;
}
.header input{
    flex-basis: 20vh;
    flex-shrink: 1;
    border: none;
    border-bottom: 1px solid;
    outline: none;
}
.capsules{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 5% 10% 5% 10%;

}

.cart{
    flex-basis: 18vw;
    flex-grow: 1;
}