.sidebar{
    width: 14vw;
    height: 100vh;
    padding: 3vh 1vw 3vh 1vw;
    text-align: center;
}
.user-pic{
    width: 50%;
    height: 50%;
    border: white 5px solid;
    border-radius: 35px;
}
.full{
    fill: black;
    background-color: white;
    border-radius: 20px;
    padding: 10px;
}
.nav-but{
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: 15px;
    cursor: pointer;
    align-items: center;
}
.nav-but p{
    margin-left: 4%;
    padding: 10px;
    color: black;
}
.nav-but:hover p{
    color: white;
}
.activ p{
    color: white;
}
.nav-but:hover,.activ{
    background-color: #F87193;
    border-radius: 20px;
    color: white !important;
}

.nav-but:hover .full{
    fill: white;
    background-color: #EC6083;
  
}
.activee{
    fill: white;
    background-color: #EC6083;
}

.author a{
    cursor: pointer;
    color: inherit;
}