@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif&display=swap');

.app{
  background-color: #eff2fa;
  margin: 0%;
  font-family: 'IBM Plex Serif', serif;
  font-weight: 500;
  display: flex;
  height: 100vh;
  overflow-y: hidden;
}
.Main{
  display: flex;
  flex-direction: row;
  background-color: white;
  margin: 2% 2% 2% 2%;
  border-radius: 25px;
  width: 82%;
  /* justify-content: space-evenly; */
}

