.order-home{
    background-color: #ffffff;
    width: 81vw;
    height: 92vh;
    margin: 4vh 2vh 4vh 2vh;
    justify-content: center;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
}